<!DOCTYPE html>
<html>
  <head>
    <title>Combine Excel Files</title>
  </head>
  <body>
    <h3>Manufacture:</h3>
    <select id="mfg">
      {% for item in mfg_list %}
        <option value="{{ item }}">{{ item }}</option>
      {% endfor %}
    </select>

    <h3>Ball:</h3>
    <select id="ball">
      {% for item in ball_list %}
        <option value="{{ item }}">{{ item }}</option>
      {% endfor %}
    </select>

    <h3>Output File:</h3>
    <button id="output_file_button">Select Output File</button>
    <textarea id="output_text_box" rows="1.35" cols="40">/run/user/1000/gvfs/smb-share:server=unraiddog.local,share=family/Jerry/Golf Exports/GSProCombinedFile.csv</textarea>

    <h3>File(s):</h3>
    <button id="select_file_button">Select File(s)</button>
    <textarea id="filepath_textbox" rows="10" cols="60"></textarea>

    <button id="process_button">Start</button>
  </body>
</html>
